@import 'components/global';
@import 'components/headers';
@import 'components/inputs';
@import 'components/btns';

.registration-layout {
	height: 100%;
	width: 66.6666%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	background-color: #ffffff;
}

.aside-layout {
	width: 33.3333%;
	background-image: url('../images/aside-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 45% 50%;
	height: 100%;
}

.rl {
	&-fields {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	&-fieldside {
		flex: 1;
		padding: 0 30px;
	}

	&-field {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-confirm {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 30px;
	}
}